html, body, .App, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.App {
  display: flex;
}


.resize_side_nav {
  height: 100%;
  display: inline-block;
  float: left;

  .resize_side_nav_container {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 700px;

    .side_nav {
      width: 100%;
      height: 100%;
      background-color: #F7F7F7;
      position: relative;

      .side_nav_container {
        height: 100%;
        padding: 50px 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: auto;
        box-sizing: border-box;

        &::-webkit-scrollbar {
          background-color: #3c5060;
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #86cfca;
          border: 1px solid transparent;
          border-radius: 9px;
          background-clip: content-box;
        }
      }
    }


    &:after {
      display: flex;
      align-items: center;
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: #215263;
      right: 0;
      top: 0;
      text-align: center;
      content: ".. .. ..";
      cursor: w-resize;
      line-height: 100%;
      color: white;
      font-size: 20px;
    }

  }
}


.canvas_context {
  width: auto;
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  overflow: hidden;


  .konvasjs-content {
    width: auto;
  }

}

.operation_context {
  white-space: normal;
  width: 100px;
  margin: 10px;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.operation_container {
  width: 50px;
  height: 50px;
  background-color: #86cfca;
  color: #215263;
  border-radius: 7px;
  text-align: center;
  line-height: 50px;
}

.sidebarinfo {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  right: 0;
  top: 0;
  box-shadow: -3px -3px 3px 0px rgba(0, 0, 0, 0.4);

  .sidebarinfo_container {
    height: 100%;
    width: 100%;

    .sidebarinfo_title {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid black;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
      -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.3);
    }

    .sidebarinfo_content {
      overflow: auto;
      width: 100%;
      height: calc(100% - 31px);
    }

    .sidebarinfo_operations {
      height: 300px;
      width: 100%;
      background-color: #F7F7F7;
    }

    .sidebarinfo_inputs {
      height: 150px;
      width: 100%;
      background-color: #F7F7F7;
    }

    .sidebarinfo_outputs {
      height: calc(100% - 450px);
      width: 100%;
      background-color: #F7F7F7;
    }

    .sidebarinfo_operation{
      text-align: center;
      border-bottom: 1px solid black;
    }
  }
}